.backgroundc {
    background-color: black;
}
.my-color{
    color: white;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-resp2 {
    display: block;
    width: auto;
    height: 45px;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
    font-size: 16px;
}

.limited-size {
    max-height: 70px;
}


footer-resp {
    display: flex;
    width: 50%;
    height: auto;
    transform: scale(0.5);
}
