.backgroundc {
    background-color: black;
}
.my-color{
    color: white;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-resp2 {
    display: block;
    width: auto;
    height: 45px;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
    font-size: 16px;
}

.limited-size {
    max-height: 70px;
}


.footer-resp {
    display: flex;
    justify-content: space-between;
}

.footer-resp img {
    width: 200px;
    height: auto;
}

.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-primary2 {
    color: #000000;
    background-color: #db121c;
    border-color: #000000;
}