.backgroundc {
    background-color: black;
}
.my-color{
    color: white;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-resp2 {
    display: flex;
    width: auto;
    height: 45px;
}

.center-vertical {
    display: block;
    line-height: 3;
    font-size: 16px;
}
